.DS_Store
*(Autosaved)*
*.indd
*.idlk

fonts/otf/AndadaPro-Bold.otf
fonts/otf/AndadaPro-BoldItalic.otf
fonts/otf/AndadaPro-ExtraBold.otf
fonts/otf/AndadaPro-ExtraBoldItalic.otf
fonts/otf/AndadaPro-Italic.otf
fonts/otf/AndadaPro-Medium.otf
fonts/otf/AndadaPro-MediumItalic.otf
fonts/otf/AndadaPro-Regular.otf
fonts/otf/AndadaPro-SemiBold.otf
fonts/otf/AndadaPro-SemiBoldItalic.otf
fonts/ttf/AndadaPro-Bold.ttf
fonts/ttf/AndadaPro-BoldItalic.ttf
fonts/ttf/AndadaPro-ExtraBold.ttf
fonts/ttf/AndadaPro-ExtraBoldItalic.ttf
fonts/ttf/AndadaPro-Italic.ttf
fonts/ttf/AndadaPro-Medium.ttf
fonts/ttf/AndadaPro-MediumItalic.ttf
fonts/ttf/AndadaPro-Regular.ttf
fonts/ttf/AndadaPro-SemiBold.ttf
fonts/ttf/AndadaPro-SemiBoldItalic.ttf
fonts/variable/AndadaPro-Italic[wght].ttf
fonts/variable/AndadaPro[wght].ttf
fonts/webfonts/AndadaPro-Bold.woff2
fonts/webfonts/AndadaPro-BoldItalic.woff2
fonts/webfonts/AndadaPro-ExtraBold.woff2
fonts/webfonts/AndadaPro-ExtraBoldItalic.woff2
fonts/webfonts/AndadaPro-Italic.woff2
fonts/webfonts/AndadaPro-Medium.woff2
fonts/webfonts/AndadaPro-MediumItalic.woff2
fonts/webfonts/AndadaPro-Regular.woff2
fonts/webfonts/AndadaPro-SemiBold.woff2
fonts/webfonts/AndadaPro-SemiBoldItalic.woff2
