<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>I.ss02</key>
    <dict>
      <key>public.kern2.RN_Round</key>
      <integer>0</integer>
      <key>public.kern2.RN_V</key>
      <integer>-60</integer>
      <key>public.kern2.RN_X</key>
      <integer>-40</integer>
    </dict>
    <key>M.ss02</key>
    <dict>
      <key>public.kern2.RomanNumber</key>
      <integer>-28</integer>
    </dict>
    <key>periodcentered.loclCAT</key>
    <dict>
      <key>public.kern2.lc_LongStem</key>
      <real>-32.5</real>
    </dict>
    <key>public.kern1.A.sups</key>
    <dict>
      <key>public.kern2.V.sups</key>
      <real>-17.5</real>
    </dict>
    <key>public.kern1.MSC_UC_dash</key>
    <dict>
      <key>public.kern2.UC_T</key>
      <integer>-60</integer>
      <key>public.kern2.UC_V</key>
      <integer>-50</integer>
      <key>public.kern2.UC_X</key>
      <integer>-20</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-60</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-50</integer>
      <key>public.kern2.uc_x.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.MSC_UC_exclam</key>
    <dict>
      <key>public.kern2.UC_V</key>
      <integer>-30</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.MSC_UC_guillemetleft</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.UC_T</key>
      <integer>-60</integer>
      <key>public.kern2.UC_V</key>
      <integer>-70</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-60</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.MSC_UC_guillemetright</key>
    <dict>
      <key>public.kern2.MSC_period</key>
      <integer>-30</integer>
      <key>public.kern2.UC_A</key>
      <integer>-40</integer>
      <key>public.kern2.UC_T</key>
      <integer>-80</integer>
      <key>public.kern2.UC_V</key>
      <integer>-80</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-40</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-80</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.MSC_UC_slash</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-70</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.MSC_colon</key>
    <dict>
      <key>public.kern2.UC_T</key>
      <integer>-30</integer>
      <key>public.kern2.UC_V</key>
      <integer>-50</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.MSC_dash</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.UC_T</key>
      <integer>-40</integer>
      <key>public.kern2.UC_V</key>
      <integer>-50</integer>
      <key>public.kern2.UC_X</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-40</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-50</integer>
      <key>public.kern2.uc_x.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.MSC_guillemetleft</key>
    <dict>
      <key>public.kern2.UC_T</key>
      <integer>-40</integer>
      <key>public.kern2.UC_V</key>
      <integer>-70</integer>
      <key>public.kern2.UC_X</key>
      <integer>-30</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-40</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-70</integer>
      <key>public.kern2.uc_x.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.MSC_period</key>
    <dict>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-30</integer>
      <key>public.kern2.UC_T</key>
      <integer>-80</integer>
      <key>public.kern2.UC_V</key>
      <integer>-90</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-80</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.RN_C</key>
    <dict>
      <key>public.kern2.RN_Stem</key>
      <real>-13.5</real>
      <key>public.kern2.RN_V</key>
      <integer>-50</integer>
      <key>public.kern2.RN_X</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.RN_L</key>
    <dict>
      <key>public.kern2.RN_Round</key>
      <integer>-40</integer>
      <key>public.kern2.RN_Stem</key>
      <integer>-40</integer>
      <key>public.kern2.RN_V</key>
      <real>-119.5</real>
      <key>public.kern2.RN_X</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.RN_Stem</key>
    <dict>
      <key>public.kern2.RN_Stem</key>
      <integer>20</integer>
      <key>public.kern2.RN_V</key>
      <real>-40.5</real>
    </dict>
    <key>public.kern1.RN_V</key>
    <dict>
      <key>public.kern2.RN_Round</key>
      <integer>-40</integer>
      <key>public.kern2.RN_Stem</key>
      <integer>-60</integer>
      <key>public.kern2.RN_X</key>
      <integer>-67</integer>
    </dict>
    <key>public.kern1.RN_X</key>
    <dict>
      <key>public.kern2.RN_Round</key>
      <real>-29.5</real>
      <key>public.kern2.RN_Stem</key>
      <integer>-40</integer>
      <key>public.kern2.RN_X</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.RomanNumber</key>
    <dict>
      <key>M.ss02</key>
      <real>-45.50000000000001</real>
      <key>public.kern2.RomanNumber</key>
      <real>-47.5</real>
    </dict>
    <key>public.kern1.UC_A</key>
    <dict>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-40</integer>
      <key>public.kern2.MSC_UC_guillemetright</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-30</integer>
      <key>public.kern2.UC_A</key>
      <integer>-40</integer>
      <key>public.kern2.UC_Round</key>
      <integer>-30</integer>
      <key>public.kern2.UC_T</key>
      <integer>-70</integer>
      <key>public.kern2.UC_U</key>
      <integer>-30</integer>
      <key>public.kern2.UC_V</key>
      <integer>-80</integer>
      <key>public.kern2.UC_Z</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-100</integer>
      <key>public.kern2.backslash</key>
      <integer>-70</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_t</key>
      <integer>-30</integer>
      <key>public.kern2.lc_u</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-70</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
      <key>public.kern2.saltillo</key>
      <integer>-50</integer>
      <key>public.kern2.sups</key>
      <integer>-30</integer>
      <key>public.kern2.sups_A</key>
      <real>-10.5</real>
      <key>public.kern2.sups_L</key>
      <integer>-30</integer>
      <key>public.kern2.sups_Round</key>
      <integer>-30</integer>
      <key>public.kern2.sups_T</key>
      <integer>-30</integer>
      <key>public.kern2.sups_V</key>
      <integer>-40</integer>
      <key>public.kern2.susp</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_B</key>
    <dict>
      <key>public.kern2.UC_V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_C</key>
    <dict>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_F</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.UC_G</key>
    <dict>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_K</key>
    <dict>
      <key>public.kern2.MSC_UC_dash</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_guillemetright</key>
      <integer>-30</integer>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.UC_Round</key>
      <integer>-50</integer>
      <key>public.kern2.UC_S</key>
      <integer>-20</integer>
      <key>public.kern2.UC_T</key>
      <integer>-50</integer>
      <key>public.kern2.UC_V</key>
      <integer>-50</integer>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_p</key>
      <integer>-30</integer>
      <key>public.kern2.lc_t</key>
      <integer>-30</integer>
      <key>public.kern2.lc_u</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.UC_L</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.UC_Round</key>
      <integer>-40</integer>
      <key>public.kern2.UC_T</key>
      <integer>-70</integer>
      <key>public.kern2.UC_U</key>
      <integer>-30</integer>
      <key>public.kern2.UC_V</key>
      <integer>-70</integer>
      <key>public.kern2.asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.lc_v</key>
      <integer>-60</integer>
      <key>public.kern2.saltillo</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.UC_N</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.UC_P</key>
    <dict>
      <key>public.kern2.MSC_period</key>
      <integer>-70</integer>
      <key>public.kern2.UC_A</key>
      <integer>-50</integer>
      <key>public.kern2.UC_V</key>
      <integer>-30</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_a</key>
      <integer>-30</integer>
      <key>public.kern2.lc_g</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_Q</key>
    <dict>
      <key>public.kern2.UC_V</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_R</key>
    <dict>
      <key>public.kern2.MSC_dash</key>
      <integer>-20</integer>
      <key>public.kern2.UC_A</key>
      <integer>-20</integer>
      <key>public.kern2.UC_Round</key>
      <integer>-20</integer>
      <key>public.kern2.UC_T</key>
      <integer>-40</integer>
      <key>public.kern2.UC_V</key>
      <integer>-60</integer>
      <key>public.kern2.UC_X</key>
      <integer>-30</integer>
      <key>public.kern2.UC_Z</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-70</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-20</integer>
      <key>public.kern2.lc_u</key>
      <integer>-10</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.UC_Round</key>
    <dict>
      <key>Zcaron</key>
      <integer>-40</integer>
      <key>public.kern2.UC_A</key>
      <integer>-40</integer>
      <key>public.kern2.UC_V</key>
      <real>-56.5</real>
      <key>public.kern2.UC_X</key>
      <integer>-50</integer>
      <key>public.kern2.UC_Z</key>
      <real>-16.363636363636363</real>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.saltillo</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.UC_S</key>
    <dict>
      <key>public.kern2.UC_T</key>
      <integer>-30</integer>
      <key>public.kern2.UC_V</key>
      <integer>-20</integer>
      <key>public.kern2.UC_X</key>
      <integer>-20</integer>
      <key>public.kern2.lc_v</key>
      <integer>-20</integer>
      <key>public.kern2.lc_x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.UC_T</key>
    <dict>
      <key>public.kern2.MSC_UC_dash</key>
      <integer>-60</integer>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-80</integer>
      <key>public.kern2.MSC_UC_guillemetright</key>
      <integer>-60</integer>
      <key>public.kern2.MSC_colon</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-40</integer>
      <key>public.kern2.MSC_guillemetright</key>
      <integer>-40</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-80</integer>
      <key>public.kern2.UC_A</key>
      <integer>-70</integer>
      <key>public.kern2.UC_S</key>
      <integer>-30</integer>
      <key>public.kern2.UC_V</key>
      <integer>-20</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_ShortStem</key>
      <integer>-20</integer>
      <key>public.kern2.lc_a</key>
      <integer>-40</integer>
      <key>public.kern2.lc_g</key>
      <integer>-30</integer>
      <key>public.kern2.lc_s</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
      <key>public.kern2.lc_z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_Thorn</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.UC_U</key>
    <dict>
      <key>public.kern2.MSC_period</key>
      <integer>-30</integer>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.UC_V</key>
    <dict>
      <key>public.kern2.MSC_UC_dash</key>
      <integer>-50</integer>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-80</integer>
      <key>public.kern2.MSC_UC_guillemetright</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_UC_slash</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_colon</key>
      <integer>-50</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-50</integer>
      <key>public.kern2.MSC_exclam</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_guillemetleft</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_guillemetright</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-90</integer>
      <key>public.kern2.UC_A</key>
      <integer>-80</integer>
      <key>public.kern2.UC_AE</key>
      <integer>-100</integer>
      <key>public.kern2.UC_Round</key>
      <real>-56.5</real>
      <key>public.kern2.UC_S</key>
      <integer>-20</integer>
      <key>public.kern2.UC_T</key>
      <integer>-20</integer>
      <key>public.kern2.UC_V</key>
      <integer>-40</integer>
      <key>public.kern2.UC_X</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-50</integer>
      <key>public.kern2.lc_ShortStem</key>
      <integer>-30</integer>
      <key>public.kern2.lc_a</key>
      <integer>-50</integer>
      <key>public.kern2.lc_g</key>
      <integer>-50</integer>
      <key>public.kern2.lc_p</key>
      <integer>-30</integer>
      <key>public.kern2.lc_s</key>
      <integer>-50</integer>
      <key>public.kern2.lc_u</key>
      <integer>-40</integer>
      <key>public.kern2.lc_v</key>
      <integer>-60</integer>
      <key>public.kern2.lc_x</key>
      <integer>-50</integer>
      <key>public.kern2.lc_z</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.UC_Z</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.UC_T</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.V.sups</key>
    <dict>
      <key>public.kern2.A.sups</key>
      <real>-17.5</real>
    </dict>
    <key>public.kern1.asterisk</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-80</integer>
      <key>public.kern2.UC_Round</key>
      <integer>-20</integer>
      <key>public.kern2.UC_S</key>
      <integer>-30</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-10</integer>
      <key>public.kern2.lc_a</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-80</integer>
      <key>public.kern2.uc_round.sc</key>
      <integer>-20</integer>
      <key>public.kern2.uc_s.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.backslash</key>
    <dict>
      <key>public.kern2.UC_V</key>
      <integer>-70</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.exclam</key>
    <dict>
      <key>public.kern2.UC_V</key>
      <integer>-70</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.lc_LongStem</key>
    <dict>
      <key>periodcentered.loclCAT</key>
      <real>-32.5</real>
    </dict>
    <key>public.kern1.lc_LongStemDot</key>
    <dict>
      <key>public.kern2.lc_LongStem</key>
      <real>2.4545454545454546</real>
    </dict>
    <key>public.kern1.lc_Round</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
      <key>public.kern2.lc_x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_Shoulder</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-40</integer>
      <key>public.kern2.lc_v</key>
      <integer>-20</integer>
      <key>seven</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.lc_SternCaron</key>
    <dict>
      <key>public.kern2.lc_LongStem</key>
      <integer>131</integer>
    </dict>
    <key>public.kern1.lc_a</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.lc_c</key>
    <dict>
      <key>public.kern2.lc_x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.lc_e</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.lc_x</key>
      <real>-6.5</real>
    </dict>
    <key>public.kern1.lc_f</key>
    <dict>
      <key>public.kern2.saltillo</key>
      <integer>20</integer>
      <key>public.kern2.saltillo.sc</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.lc_g</key>
    <dict>
      <key>public.kern2.lc_v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_k</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-20</integer>
      <key>public.kern2.lc_t</key>
      <integer>-20</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
      <key>public.kern2.lc_z</key>
      <integer>-20</integer>
      <key>public.kern2.saltillo</key>
      <integer>-20</integer>
      <key>public.kern2.saltillo.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_q</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_r</key>
    <dict>
      <key>public.kern2.MSC_colon</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-80</integer>
      <key>public.kern2.lc_x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_s</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.lc_v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_t</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.lc_v</key>
    <dict>
      <key>public.kern2.MSC_colon</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-110</integer>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_g</key>
      <integer>-20</integer>
      <key>public.kern2.lc_s</key>
      <integer>-20</integer>
      <key>public.kern2.lc_v</key>
      <integer>-10</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.lc_z</key>
    <dict>
      <key>public.kern2.lc_x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.lc_z.sc</key>
    <dict>
      <key>public.kern2.lc_x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.questiondown</key>
    <dict>
      <key>public.kern2.UC_V</key>
      <integer>-50</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.saltillo</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-50</integer>
      <key>public.kern2.UC_Round</key>
      <integer>-10</integer>
      <key>public.kern2.lc_LongStem</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.saltillo.sc</key>
    <dict>
      <key>public.kern2.lc_LongStem</key>
      <integer>20</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-50</integer>
      <key>public.kern2.uc_round.sc</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.sups</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.sups_A</key>
    <dict>
      <key>public.kern2.sups_T</key>
      <integer>-40</integer>
      <key>public.kern2.sups_V</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.sups_L</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.sups_T</key>
      <integer>-50</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.sups_Round</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.sups_V</key>
      <integer>-20</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.sups_T</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.sups_A</key>
      <integer>-40</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.sups_V</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-40</integer>
      <key>public.kern2.sups_A</key>
      <integer>-50</integer>
      <key>public.kern2.sups_Round</key>
      <integer>-20</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.susp</key>
    <dict>
      <key>public.kern2.UC_A</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_a.sc</key>
    <dict>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-40</integer>
      <key>public.kern2.MSC_UC_guillemetright</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.backslash</key>
      <integer>-70</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_t</key>
      <integer>-30</integer>
      <key>public.kern2.lc_u</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-70</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
      <key>public.kern2.saltillo.sc</key>
      <integer>-50</integer>
      <key>public.kern2.sups</key>
      <integer>-30</integer>
      <key>public.kern2.sups_A</key>
      <real>-10.5</real>
      <key>public.kern2.sups_L</key>
      <integer>-30</integer>
      <key>public.kern2.sups_Round</key>
      <integer>-30</integer>
      <key>public.kern2.sups_T</key>
      <integer>-30</integer>
      <key>public.kern2.sups_V</key>
      <integer>-40</integer>
      <key>public.kern2.susp</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-33</integer>
      <key>public.kern2.uc_round.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-70</integer>
      <key>public.kern2.uc_u.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-80</integer>
      <key>public.kern2.uc_z.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_b.sc</key>
    <dict>
      <key>public.kern2.uc_v.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_c.sc</key>
    <dict>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_g.sc</key>
    <dict>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_k.sc</key>
    <dict>
      <key>public.kern2.MSC_UC_dash</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_guillemetright</key>
      <integer>-30</integer>
      <key>public.kern2.asterisk</key>
      <integer>-50</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_p</key>
      <integer>-30</integer>
      <key>public.kern2.lc_t</key>
      <integer>-30</integer>
      <key>public.kern2.lc_u</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_round.sc</key>
      <integer>-50</integer>
      <key>public.kern2.uc_s.sc</key>
      <integer>-20</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-50</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.uc_l.sc</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-80</integer>
      <key>public.kern2.lc_v</key>
      <integer>-60</integer>
      <key>public.kern2.saltillo.sc</key>
      <integer>-70</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_round.sc</key>
      <integer>-40</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-70</integer>
      <key>public.kern2.uc_u.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.uc_n.sc</key>
    <dict>
      <key>public.kern2.uc_a.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uc_p.sc</key>
    <dict>
      <key>public.kern2.MSC_period</key>
      <integer>-50</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_a</key>
      <integer>-30</integer>
      <key>public.kern2.lc_g</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-50</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_q.sc</key>
    <dict>
      <key>public.kern2.uc_v.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_r.sc</key>
    <dict>
      <key>public.kern2.MSC_dash</key>
      <integer>-20</integer>
      <key>public.kern2.asterisk</key>
      <integer>-70</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-20</integer>
      <key>public.kern2.lc_u</key>
      <integer>-10</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-20</integer>
      <key>public.kern2.uc_round.sc</key>
      <integer>-20</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-40</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-60</integer>
      <key>public.kern2.uc_x.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_z.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_round.sc</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-20</integer>
      <key>public.kern2.saltillo.sc</key>
      <integer>-10</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-40</integer>
      <key>public.kern2.uc_v.sc</key>
      <real>-56.5</real>
      <key>zcaron.sc</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.uc_s.sc</key>
    <dict>
      <key>public.kern2.lc_v</key>
      <integer>-20</integer>
      <key>public.kern2.lc_x</key>
      <integer>-10</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-20</integer>
      <key>public.kern2.uc_x.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uc_t.sc</key>
    <dict>
      <key>public.kern2.MSC_UC_dash</key>
      <integer>-60</integer>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-80</integer>
      <key>public.kern2.MSC_UC_guillemetright</key>
      <integer>-60</integer>
      <key>public.kern2.MSC_colon</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-40</integer>
      <key>public.kern2.MSC_guillemetright</key>
      <integer>-40</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-80</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-30</integer>
      <key>public.kern2.lc_a</key>
      <integer>-20</integer>
      <key>public.kern2.lc_g</key>
      <integer>-30</integer>
      <key>public.kern2.lc_s</key>
      <integer>-30</integer>
      <key>public.kern2.lc_v</key>
      <integer>-50</integer>
      <key>public.kern2.lc_x</key>
      <integer>-40</integer>
      <key>public.kern2.lc_z</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-70</integer>
      <key>public.kern2.uc_s.sc</key>
      <integer>-30</integer>
      <key>public.kern2.uc_v.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uc_thorn.sc</key>
    <dict>
      <key>public.kern2.uc_a.sc</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.uc_u.sc</key>
    <dict>
      <key>public.kern2.MSC_period</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.uc_v.sc</key>
    <dict>
      <key>public.kern2.MSC_UC_dash</key>
      <integer>-50</integer>
      <key>public.kern2.MSC_UC_guillemetleft</key>
      <integer>-80</integer>
      <key>public.kern2.MSC_UC_guillemetright</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_UC_slash</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_colon</key>
      <integer>-50</integer>
      <key>public.kern2.MSC_dash</key>
      <integer>-50</integer>
      <key>public.kern2.MSC_exclam</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_guillemetleft</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_guillemetright</key>
      <integer>-70</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-90</integer>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
      <key>public.kern2.lc_Round</key>
      <integer>-50</integer>
      <key>public.kern2.lc_ShortStem</key>
      <integer>-30</integer>
      <key>public.kern2.lc_a</key>
      <integer>-50</integer>
      <key>public.kern2.lc_g</key>
      <integer>-50</integer>
      <key>public.kern2.lc_p</key>
      <integer>-30</integer>
      <key>public.kern2.lc_s</key>
      <integer>-50</integer>
      <key>public.kern2.lc_u</key>
      <integer>-40</integer>
      <key>public.kern2.lc_v</key>
      <integer>-60</integer>
      <key>public.kern2.lc_x</key>
      <integer>-50</integer>
      <key>public.kern2.lc_z</key>
      <integer>-50</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-80</integer>
      <key>public.kern2.uc_ae.sc</key>
      <integer>-100</integer>
      <key>public.kern2.uc_round.sc</key>
      <real>-56.5</real>
      <key>public.kern2.uc_s.sc</key>
      <integer>-20</integer>
      <key>public.kern2.uc_t.sc</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.uc_z.sc</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-30</integer>
      <key>public.kern2.uc_a.sc</key>
      <integer>-30</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>four</key>
      <integer>-20</integer>
      <key>public.kern2.MSC_colon</key>
      <integer>-30</integer>
      <key>public.kern2.MSC_period</key>
      <integer>-70</integer>
    </dict>
  </dict>
</plist>
