<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>circumflexcomb.narrow</key>
    <string>circumflexcomb.narrow.glif</string>
    <key>f.l</key>
    <string>f.l.glif</string>
    <key>f.liga</key>
    <string>f.liga.glif</string>
    <key>f_b</key>
    <string>f_b.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_ij</key>
    <string>f_ij.glif</string>
    <key>f_j</key>
    <string>f_j.glif</string>
    <key>f_k</key>
    <string>f_k.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>f_thorn</key>
    <string>f_thorn.glif</string>
    <key>ff</key>
    <string>ff.glif</string>
    <key>ffi</key>
    <string>ffi.glif</string>
    <key>ffl</key>
    <string>ffl.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>guillemetleft.case</key>
    <string>guillemetleft.case.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>hyphentwo</key>
    <string>hyphentwo.glif</string>
    <key>hyphentwo.case</key>
    <string>hyphentwo.case.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>ldot.sc</key>
    <string>ldot.sc.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>quotedblbase.sc</key>
    <string>quotedblbase.sc.glif</string>
  </dict>
</plist>
