<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.sups</key>
    <string>U_.sups.glif</string>
    <key>f.f</key>
    <string>f.f.glif</string>
    <key>f.i</key>
    <string>f.i.glif</string>
    <key>f.l</key>
    <string>f.l.glif</string>
    <key>f.liga</key>
    <string>f.liga.glif</string>
    <key>f.t</key>
    <string>f.t.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>hyphentwo.case</key>
    <string>hyphentwo.case.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>ldot.sc</key>
    <string>ldot.sc.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>quotedblbase.sc</key>
    <string>quotedblbase.sc.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.liga</key>
    <string>t.liga.glif</string>
    <key>ti</key>
    <string>ti.glif</string>
    <key>u.horn.sc</key>
    <string>u.horn.sc.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
  </dict>
</plist>
